<ion-header>
  <ion-toolbar>
    <div class="title">
      <ion-title>
        Chapitres de {{theme}}
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-fab vertical="center" horizontal="end" edge slot="fixed">
    <ion-fab-button (click)="createFiche()">
      <ion-icon  name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="container" style='  height: 100%'>
    <div class="card" *ngFor="let chapitre of chapitresListe" (click)="selectChapitre(chapitre)">
      <h2>{{chapitre.nom}}</h2>
      <h6>{{chapitre.nb_fiches}} fiches</h6>
    </div>
  </div>
</ion-content>
