<ion-header>
  <ion-toolbar>
    <ion-title>Thémes de révision</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="container" style='height: 100%'>
    <ion-item>
      <ion-input placeholder="Nouveau théme" [(ngModel)]="theme"></ion-input>
      <ion-button (click)="addTheme()" [disabled]="theme == ''">Ajouter théme</ion-button>
    </ion-item>
    <!-- <ion-button (click)="getThemes()">recup</ion-button> -->
    <div class="liste-themes">
      <div class="card"*ngFor="let theme of themesList" (click)="selectTheme(theme.nom)">
        <h2>{{theme.nom}}</h2>
      </div>
    </div>
  </div>
</ion-content>
